.header {
    height: 800px;
    background-color: rgb(15, 7, 34);
}





.nav {
    color: rgb(231, 232, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

header nav ul {
    color: rgb(231, 232, 233);
    list-style: none;
    padding: 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 10px;
    font-size: 1.2rem;
}

header nav ul li a {
    color: rgb(128, 126, 124);
    text-decoration: none;
    font-size: 25px;
}

.nav img {
    width: 90px;
    /* Ajustez la taille */
    display: block;

    /* margin: 20px auto; Centrer */
}

.contBtn {
    /* background-color: red; */
    width: 400px;
}

.btn {
    padding: 15px 50px;
    width: auto;
    outline: none;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    border-radius: 7px;
    font-size: 20px;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red;  */
    width: 100%;
    height: 100%;
}

.sous-blog-1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;

    /* background-color: aliceblue; */
}

.sous-blog-1 h1 {
    color: #ebeaec;
    font-size: 70px;
}

.sous-blog-1 p {

    font-size: 25px;
    color: rgb(128, 126, 124);
}

.sous-blog-1 button {
    height: 50px;
    width: 200px;
    background-color: rgb(96, 56, 207);
    ;
    color: #ebeaec;
    font-size: 15px;
}

.sous-blog-2 {}

.img {
    position: relative;
    width: 600px;
    height: 600px;
    /* background-color: aqua; */
}

.img img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 20px;
    position: absolute;
    right: 2%;
    top: 50%;
    z-index: 1000;
    transform: translate(-1%, -50%);

    /* z-index: 2%; */
}

.fakeimage {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 1px white solid;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-1%, -50%) rotate(35deg);
}

.fakeimage-2 {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(96, 56, 207);
    position: absolute;
    right: 1%;
    border: #ebeaec;
    border: 1px white solid;
    top: 50%;
    transform: translate(-3%, -40%) rotate(35deg);
}

.image-1 {
    position: absolute;
    width: 5px;
    left: 55%;
    top: 200px;
}

.image-2 {
    position: absolute;
    width: 2px;
    top: 200px;
    right: 200px;
}

.img11 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120%;
    padding-top: 10%;
}

.video {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 20px;
    background-color: rgb(15, 7, 34);
}

.videoplay {
    width: 80%;
    height: 900px;
    border-radius: 10px;
    background-color: rgb(15, 7, 34);
}

.blog-2 {
    width: auto;
    height: auto;
    background-color: rgb(15, 7, 34);
    padding-top: 10%;
}

.blog-2 .nav-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-1 h1 {
    font-size: 50px;
    color: #ebeaec;
}

.nav-1 p {
    font-size: 50px;
    color: #bfbec0;
}

.blog-3 .blogn1 {
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    background-color: rgb(15, 7, 34);
    padding: 40px;

}

.blog-3 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: 30px;
    color: #a8cefa;
    background-color: rgb(15, 7, 34);
    padding-top: 20px;

}

.blog-3 .title img {
    width: 90px;
    height: 90px;
}

.post-1 h2 {
    color: rgb(240, 237, 237);
    font-size: 40px;
    font-weight: normal;
}

.post-1 .meta-1 {
    font-size: 25px;
    padding: 4px;
    color: #b4b4b4;
    /* background-color: aquamarine; */
    text-align: center;
}

.blog-3 .blogn1 .post-1 {
    width: 400PX;
    height: 400PX;
    border-radius: 10px;

    text-align: center;
    /* margin-top: 10px;
        padding-top: 30px;
         */
}

.blog-3 .blogn1 .post-1 .btn-icone-1 {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: #b13b3b;
    position: relative;
    z-index: 100;

}

.blog-3 .blogn1 .post-1 .btn-icone-1::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -30%;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #b13b3b;
    opacity: 0.2;
    /* z-index: -1000; */
    /* border: 1px red solid; */

}

.blog-3 .blogn1 .post-1 .btn-icone-2 {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: #1a0ce9;
    position: relative;
    z-index: 100;
}

.blog-3 .blogn1 .post-1 .btn-icone-2::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -30%;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1100ff;
    opacity: 0.2;
    /* z-index: -1000; */
    /* border: 1px red solid; */

}

.blog-3 .blogn1 .post-1 .btn-icone-3 {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: #ecfd00;
    position: relative;
    z-index: 100;
}

.blog-3 .blogn1 .post-1 .btn-icone-3::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -30%;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ecfd00;
    opacity: 0.2;
    /* z-index: -1000; */
    /* border: 1px red solid; */

}

.blog-3 .blogn1 .post-1 .btn-icone-4 {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: #ecfd00;
    position: relative;
    z-index: 100;
}

.blog-3 .blogn1 .post-1 .btn-icone-4::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -30%;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ecfd00;
    opacity: 0.2;
    /* z-index: -1000; */
    /* border: 1px red solid; */

}

.blog-3 .blogn1 .post-1 .btn-icone-5 {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color:  #b13b3b;
    position: relative;
    z-index: 100;
}

.blog-3 .blogn1 .post-1 .btn-icone-5::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -30%;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:  #b13b3b;
    opacity: 0.2;
    /* z-index: -1000; */
    /* border: 1px red solid; */

}

.blog-3 .blogn1 .post-1 .btn-icone-6 {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: #1100ff;
    position: relative;
    z-index: 100;
}

.blog-3 .blogn1 .post-1 .btn-icone-6::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -30%;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1100ff;
    opacity: 0.2;
    /* z-index: -1000; */
    /* border: 1px red solid; */

}
.blog-5{
    
    height: auto;
    background-color: rgb(15, 7, 34);
}
.sousblog-5 {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 800px;
    /* background-color: rgb(63, 62, 62); */
    padding: 10px 0;
  

}
.post-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden ;
    text-align: left;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    border: 2px solid none;
    border-top: none;
}
.post-5 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: -10px;
}

.test-1{
    margin-top: 150px;
}
.test-2{
    margin-top: 300px;
}
.blog-5 .title-5{
    color: white;font-size: 30px;
    padding-left: 30%;
    padding-top: 15%;
    
}
.title-5 img{
    position: absolute;
    right: 15%;
    width: 80px;
    height: 80px;
    
}
.dot-bas img{
    position: absolute;
    left:50px ;
    
}
.blog-6{
    background-color: rgb(15, 7, 34);
    padding-top: 15%;  
}
.rano{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rano h1{
    font-size: 70px;
    color: white;
}
.rano .btn{
background-color: #6a45f1;
border: none;
}
.blog-6 .img1{
    position: absolute;
    right: 250px;
    top: 450%;
}
.blog-6 .img2{
    position: absolute;
    left: 250px;
    top: 450%;
    width: 100px;

}
.blog-6 .img3{
    position: absolute;

}
.blog-7{
    background-color: rgb(15, 7, 34);
}
.nav-7 img{
    width: 90px;
    /* Ajustez la taille */
    display: block;
}
.nav-7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;
}
.nav-7 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 10px;
    color: white;
    list-style: none;
   
}
.nav-7 ul li a{
    color: rgb(184, 184, 184);
    text-decoration: none;
    font-size:25px;
}
.blog-7 .img-7{
    position: absolute;
    left: 300px;
    width: 70px;
}